<div id="bloc_page">
   <h1 mat-dialog-title> Envoi du questionnaire </h1>
    <div mat-dialog-content>
        <!-- Select created survey -->    
        <div class="selectSurvey">
            <div>
                <select id="addCreatedSurvey" name="createdSurvey" placeholder="add created survey" (click)="addCreatedSurvey($event)">
                    <option value="">Sélection du questionnaire</option>
                    <option *ngFor="let survey of allSurveys" value="{{survey.getId()}}">{{survey.getTitle()}}</option>
                </select>
                <!-- <button type="button" (click)="addCreatedSurvey()">Ajouter</button> -->
            </div>
        </div>

        <!-- Add new survey-->    

        <div id="linked_line">
            <p>Ou <a routerLink="/survey/add" id="addSurvey" mat-dialog-close="false">Créez-le ici</a></p>
            
        </div>
    </div>

    <!-- <div>Questionnaire sélectionné :</div>
    <div>{{getSurveyTitle()}}</div> -->
    <div class="bot-buttons-div" mat-dialog-actions>
        <button class="bot-buttons" mat-button mat-dialog-close="{{surveyId}}">Envoyer</button>
        <button class="bot-buttons" mat-button mat-dialog-close="0">Annuler</button>
    </div>
</div>