<div class="stagiaireCard" *ngIf="stagiaire">

  <div class="outer-dialog">
    <div class="inner-dialog">

      <div class="topCard">
        <div appBubble [config]="bubbleConfig" class="initials">{{stagiaire | initials : {firstNameFirst: true, full:
          true} }}</div>
        <h1>Fiche stagiaire</h1>
        <button type="button" class="link-button" [routerLink]="['/stagiaire']"
          (click)="closeStagiaireCard()">X</button>
      </div>

      <div class="infosCard">
        <p>Nom : {{stagiaire.getLastName()}}</p>
        <p>Prénom : {{stagiaire.getFirstName()}}</p>
        <p>Date de naissance : {{stagiaire.getBirthDate() | date}}</p>
        <p>Email : {{stagiaire.getEmail()}}</p>
        <p>Téléphone : {{stagiaire.getPhoneNumber()}}</p>
        <p *ngIf="stagiaire.getPoe()">Poe : {{stagiaire.getPoe().getTitle()}}</p>
      </div>

      <button>Questionnaire <br/> 1 mois</button>
      <button>Questionnaire <br/> 6 mois</button>
      <button>Questionnaire <br/> 1 an</button>

    </div>
  </div>



</div>