<div class="stagiaireCard" *ngIf="poe">

  <div class="outer-dialog">
    <div class="inner-dialog">

      <div class="topCard">
        <h1>Fiche Poe</h1>
        <button type="button" class="link-button" [routerLink]="['/poe']" (click)="closePoeCard()">X</button>
      </div>

      <div class="infosCard">

        <p>Nom de la promotion : {{poe.getTitle()}}</p>
        <p>Type : {{ poe.getType() }}</p>
        <p>Date de début : {{poe.getBeginDate()}}</p>
        <p>Date de fin : {{poe.getEndDate()}}</p>
        <p>Nombre de stagiaires dans la poe : {{trainees.length}}</p>
        <label for="traineeList">Liste des stagiaires :</label>
        <ng-container name="traineeList" *ngFor="let michel of trainees">
          <p>{{michel.getLastName()}} {{michel.getFirstName()}}</p>
        </ng-container>
        <!--
        <p>Lastname : {{poe.getLastName()}}</p>
        <p>Firstname : {{poe.getFirstName()}}</p>
        <p>Birthdate : {{poe.getBirthDate() | date}}</p>
        <p>Email : {{poe.getEmail()}}</p>
        <p>Phone number : {{poe.getPhoneNumber()}}</p>
        -->
      </div>

    </div>
  </div>



</div>