// Variables: 
$main-color : rgb(212, 145, 62);
$std-color : rgb(255, 255, 255); // Front color 
$main-font: 'Acme', sans-serif;
$head-and-foot-color : rgb(212, 145, 62);
$head-and-foot-text-color : rgb(0, 0, 0);

.stagiaireCard {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;
  width: 30em;
  border: solid;
}

.infosCard {
  margin: 2em;
}

div {
  &.outer-dialog {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(128, 128, 128, .6);
    top: 0;
    left: 0;

    .inner-dialog {
      padding: 1.5em;
      position: relative;
      top: 50%;
      width: 50em;
      height: 50em;
      margin: 0 auto;
      transform: translateY(-50%);
      background-color: #FBAB7E;
      background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%, #ffffff 100%);
      line-height: 1.75;
      text-align: center;
      border: solid;

    }
  }
}

.topCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topCard button {
  margin: 2em 0;
  width: 2em;
  height: 2em;
  line-height: 1.5;
}

// Liste des stagiaires : 

.listeStagiaires {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  border-collapse: collapse;
  text-align: center;
  background-color: #ffffff57;
}

.stagiaire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

td,
th {
  border: solid;
  height: 2em;
  padding: .5em 1em
}

thead {
  th {
    width: 10em;
    height: 3em;
  }
}

// Mise en valeur du Thead et tu Tfoot : 
thead,
tfoot {
  tr {
    background-color: $head-and-foot-color;
    color: $head-and-foot-text-color;
  }
}

.stagiaireLine:hover {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%, #ffffff 100%);
}

.stagiaire p {
  margin: 0 1em 0 0;
}

.buttonDelete {
  width: 2em;
  margin: auto;
}

.buttonAdd {
  width: 12em;
  height: 3em;
  text-decoration: none;
  background-color: $main-color;
  color: #fff;
  border: solid black;
  border-radius: 25px;
  margin: 2em auto;
  text-align: center;
  cursor: pointer;
}

.buttonClear {
  width: 14em;
  height: 3em;
  text-decoration: none;
  background-color: $main-color;
  color: #fff;
  border: solid black;
  border-radius: 25px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

// .space {
//   margin: 0;
//   height: auto;
//   display: inline-block;
// }

/*-- bouton close de la select barre --*/

.linkButton {
  // display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  text-decoration: none;
  background-color: $main-color;
  color: #fff;
  border: solid black;
  border-radius: 25px;
  margin: 2em auto;
  text-align: center;
  cursor: pointer;
}

#botButtons {
  display: flex;
  justify-content: space-between;
}