<div class="stagiaireCard" *ngIf="poe">

  <div class="outer-dialog">
    <div class="inner-dialog">

      <div class="topCard">
        <h1>Fiche Poe</h1>
        <button type="button" class="link-button" [routerLink]="['/poe']" (click)="closePoeCard()">X</button>
      </div>

      <div class="infosCard">

        <p>Nom de la promotion : {{poe.getTitle()}}</p>
        <p>Type : {{ poe.getType() }}</p>
        <p>Date de début : {{poe.getBeginDate().toLocaleDateString()}}</p>
        <p>Date de fin : {{poe.getEndDate().toLocaleDateString()}}</p>
        <p>Nombre de stagiaires dans la poe : {{trainees.length}}</p>
        <label for="traineeList">
          <h1>Liste des stagiaires :</h1>
        </label>

        <table class="listeStagiaires">
          <td>Nom</td>
          <td>Prénom</td>
          <td>Adresse mail</td>
          <td>Numéro de téléphone</td>
          <td>Supprimer le stagiaire</td>

          <tr class="stagiaireLine" *ngFor="let trainee of trainees">
            <th>{{trainee.getLastName()}}</th>
            <th>{{trainee.getFirstName()}}</th>
            <th>{{trainee.getEmail()}}</th>
            <th>{{trainee.getPhoneNumber()}}</th>
            <th><button class="link-button buttonDelete" (click)="deleteTraineeDialog(poe, trainee)">X</button></th>
          </tr>
        </table>


        <div id="closeSelectBar" *ngIf="selectHidden">


          <label for="choixTrainee">Choisir le stagiaire à enregistrer :</label>
          <input list="allTrainees" id="choixTrainee" type="search">

          <datalist id="allTrainees">
            <option *ngFor="let trainee of allTrainees" value="{{trainee.getId()}}">
              {{trainee.getFirstName()}} {{trainee.getLastName()}}
            </option>
          </datalist>

          <div>Le stagiaire n'est pas dans la liste? <a routerLink="/stagiaire/add/{{poe.getId()}}">Créer</a></div>

          <div id="botButtons">
            <button class="buttonAdd" (click)="sendSelectedTrainee()">Valider</button>
            <button type="button" class="buttonAdd" (click)="closeSelectBar()">Annuler</button>
            <button type="button" class="buttonAdd" *ngIf="!selectBarMode" (click)="addNewTrainee()">Ajouter un
              stagaire</button>
            <button type="button" class="buttonClear" *ngIf="!selectBarMode"
              (click)="clearTraineesDialog(poe)">Supprimer les stagiaires</button>
          </div>

        </div>

        <div id="botButtons">
          <button type="button" class="buttonAdd" *ngIf="!selectBarMode" (click)="addNewTrainee()">Ajouter un
            stagaire</button>
          <button type="button" class="buttonClear" *ngIf="!selectBarMode" (click)="clearTrainees(poe)">Supprimer les
            stagiaires</button>
        </div>





        <!--
        <p>Lastname : {{poe.getLastName()}}</p>
        <p>Firstname : {{poe.getFirstName()}}</p>
        <p>Birthdate : {{poe.getBirthDate() | date}}</p>
        <p>Email : {{poe.getEmail()}}</p>
        <p>Phone number : {{poe.getPhoneNumber()}}</p>
        -->
      </div>

    </div>
  </div>



</div>