<!-- 
<div [formGroup]="surveyFormGroup" class="questionnaire">

  <div class="questions" *ngFor="let question of questions">
    <h1>{{question.getText()}}</h1>
    <div class="answers" *ngFor="let answer of question.getAnswersProposed()">
      <input type="radio" name="{{answer}}" value="{{answer}}">
      <label for="{{answer}}">{{answer}}</label>
    </div>
  </div>

</div>

-->

<div class="testbox">

  <form [formGroup]="surveyFormGroup">

    <img src="../../../../assets/logo-aelion_1.png" alt="Logo Aelion">

    <h1>Bonjour {{stagiaire.getFirstName()}}</h1>

    <div class="presentation">
      <p>Nous te remercions d'avoir pris le temps de suivre notre lien. Nous ne te demandons que quelques minutes
        supplémentaires de ton temps afin de répondre à ce questionnaire</p>
    </div>

    <div *ngFor="let question of questions">

      <!-- Question Yes No -->
      <fieldset class="questions" *ngIf="question.getAnswerType().toLocaleString() === 'YES_NO'">
        <legend>{{question.getText()}}</legend>
        <div class="answer" *ngFor="let answer of question.getAnswersProposed()">
          <input type="radio" formControlName="{{question.getText()}}" value="{{answer}}">
          <label for="{{question}}">{{answer}}</label>
        </div>
      </fieldset>

      <!-- Question Free -->
      <fieldset class="questions" *ngIf="question.getAnswerType().toLocaleString() === 'FREE'">
        <legend>{{question.getText()}}</legend>
        <textarea formControlName="{{question.getText()}}" placeholder="Votre réponse ici ..."></textarea>
      </fieldset>

      <!-- Question Choose One -->
      <fieldset class="questions" *ngIf="question.getAnswerType().toLocaleString() === 'CHOOSE_ONE'">
        <legend>{{question.getText()}}</legend>
        <div class="answerContainer">
          <div class="answer" *ngFor="let answer of question.getAnswersProposed()">
            <input formControlName="{{question.getText()}}" type="radio" value="{{answer}}">
            <span>
              {{answer}}
            </span>
          </div>
        </div>
      </fieldset>

      <!-- Question Choose Many-->
      <fieldset class="questions" *ngIf="question.getAnswerType().toLocaleString() === 'CHOOSE_MANY'">
        <legend>{{question.getText()}}</legend>
        <div class="answerContainer">
          <div class="answer" *ngFor="let answer of question.getAnswersProposed()">
            <input class="{{question.getText()}}" type="checkbox" formControlName="{{question.getText()}}{{answer}}"
              value="{{answer}}" name="{{question.getText()}}">
            <label for="{{question}}">{{answer}}</label>
          </div>
        </div>
      </fieldset>

    </div>

    <div class="btn-block">
      <button type="submit" (click)="onSubmit()">Envoyer vos réponses</button>
    </div>
  </form>
</div>