html,
body {
  min-height: 100%;
}

body,
div,
form,
input,
select,
p,
textarea {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Acme, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
}

.answered {
  width: 75%;
  margin: auto;
  min-height: 60%;
  padding: 0;
  margin-top: 150px;
  text-align: center;
  outline: none;
  background-color: white;
  color: #666;
  line-height: 50px;

  p {
    margin: 2em auto;
    font-family: Acme, Arial, sans-serif;
    font-size: 24px;
    color: #666;
    width: 70%;
  }

  img {
    margin: 2em auto;
    width: 30%;
  }


}


h1 {
  margin: 15px 0;
  font-weight: 400;
}

.testbox {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: inherit;
  padding: 3px;
}

form {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
  border: solid black;
  width: 60%;
  margin-top: 2em;
}

input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
}

textarea {
  width: calc(100% - 6px);
}

.item {
  position: relative;
  margin: 10px 0;
}

.item:hover p,
.item:hover i {
  color: #095484;
}

input:hover,
select:hover,
textarea:hover {
  box-shadow: 0 0 5px 0 #095484;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="time"]::-webkit-inner-spin-button {
  margin: 2px 22px 0 0;
}

.item i,
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  font-size: 20px;
  color: #a9a9a9;
}

.item i {
  right: 1%;
  top: 30px;
  z-index: 1;
}

[type="date"]::-webkit-calendar-picker-indicator {
  right: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.btn-block {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}

button {
  width: auto;
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #095484;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0666a3;
}

@media (min-width: 568px) {

  .name-item,
  .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name-item input,
  .city-item input {
    width: calc(50% - 20px);
  }

  .city-item select {
    width: calc(50% - 8px);
  }
}

input[type="radio"]::-webkit-inner-spin-button {
  display: flex;
}

input[type="text"] {
  padding: 1em;
  width: 50%;
  text-align: center;
}

.answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.answer input {
  margin-right: 1em;
}

.answer input:checked {
  border: 6px solid black;
}

.answer label {
  margin-top: .25%;
}

hr {
  width: 50%;
  margin: 2em auto;
}

.questions {
  margin: 3em auto;
  padding: 1em;
  width: 60%;
}

textarea {
  width: 100%;
  height: 10em;
  padding-top: .5em;
  text-align: center;
}