$head-and-foot-color : rgb(212, 145, 62);
$head-and-foot-text-color : rgb(0, 0, 0);
$main-font: 'Acme', sans-serif;

.surveyDialog input,
.surveyDialog select {
    font-family: $main-font;
}

.title {
    text-align: center;
}

.getQuestion {
    //height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getQuestion2 {
    display: block;
    text-align: center;
    list-style-type: disc;
}

.question,
.answers {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.question {
    height: 2em;
}

.answerList {
    list-style-type: disc;
}

.question label,
#answerPurposed {
    margin-right: 1em;
}

.validate {
    width: 8em;
}