.title {
    text-align: center;
}

.getQuestion {
    //height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getQuestion2{
    display: block;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}