<ng-container *ngIf="surveyMatDialogForm">

     <form class="surveyDialog" [formGroup]="surveyMatDialogForm">

          <h1 class="title">Créer une question</h1>
          <div class="underline-title"></div>

          <div class="question">
               <label for="title" class="getQuestion">Question :</label>
               <input id="title" type="text" placeholder="Nouvelle question" class="getQuestion2" formControlName="text">
          </div>

          <div class="question">
               <label class="getQuestion">Type de réponse attendu :</label>
               <select name="answerType" id="answerType" placeholder="choisir type de réponse"
                    (change)="getValues($event)" [(ngModel)]="answerType" class="getQuestion2"
                    formControlName="answerType">
                    <option *ngFor="let item of optionsAnswer" [value]="getOptionLabelAnswerType(item)">
                         {{getOptionLabelAnswerType(item)}}</option>
               </select>
          </div>
          
          <input mdInput #chooseOne name="chooseOne" [value]="inputChooseOne" id="answerPurposed1" type="answerPurposed"
               placeholder="votre réponse..." *ngIf="answerType == 'CHOOSE_ONE'" class="GetQuest"
               [(ngModel)]="inputFreeAnswer" formControlName="answersProposed">
          <button id="inputChooseOne" name="inputChooseOne" type="button" *ngIf="answerType == 'CHOOSE_ONE'"
               class="GetQuest" (click)="getAllAnswers(inputFreeAnswer);clearChooseOne()">Insérer la réponse</button>
          <input mdInput #chooseMany name="chooseMany" [value]="inputChooseMany" id="answerPurposed2"
               type="answerPurposed" placeholder="votre réponse..." *ngIf="answerType == 'CHOOSE_MANY'" class="GetQuest"
               [(ngModel)]="inputFreeAnswer" formControlName="answersProposed">
          <button id="inputChooseMany" name="inputChooseMany" type="button" *ngIf="answerType == 'CHOOSE_MANY'"
               class="GetQuest" (click)="getAllAnswers(inputFreeAnswer);clearChooseMany()">Insérer la réponse</button>

          <label *ngIf="answerRegistered.length" class="getQuestion">Réponses proposées</label>

          <div class="answers">
               <ul class="answerList">
                    <li *ngFor="let item of answerRegistered,let i=index">
                         <div>
                              <p>{{item}}</p>
                              <button class="Answer1" (click)="spliceAnswer(answerRegistered,i)">
                                   x
                              </button>
                         </div>
                    </li>
               </ul>
          </div>

          <div class="question">
               <button type="button" class="validate" (click)="onSubmitMatDialog() " [mat-dialog-close]="data.dto" [disabled]="!surveyMatDialogForm.valid">Valider</button>
               <button type="button" class="validate"  [mat-dialog-close]>Annuler</button>
          </div>
     </form>
</ng-container>