<h1 class="title">Creer Questionnaire</h1>

<label for="title" class="getQuestion">Veuillez Saisir la question</label>
<input id="title" type="text" placeholder="title" class="getQuestion2">

<label class="getQuestion">Veuillez choisir un type de réponse</label>
<select name="answerType" id="answerType" placeholder="choisir type de réponse" [(ngModel)]="answerType" class="getQuestion2">
    <option *ngFor="let item of optionsAnswer" [value]="getOptionLabelAnswerType(item)">{{getOptionLabelAnswerType(item)}}</option>
</select>

<label class="getQuestion">Veuillez inscrire la réponse</label>
<select name="answerPurposed" id="answerPurposed" placeholder="Veuillez inscrire réponse" *ngIf="answerType == 'YES_NO'"class="getQuestion2" >
    <option value="YES">YES</option>
    <option value="NO">NO</option>
</select>

<input id="answerPurposed" type="answerPurposed" placeholder="suscribe answer" *ngIf="answerType == 'FREE'" class="getQuestion2">
<input id="answerPurposed" type="answerPurposed" placeholder="suscribe answer" *ngIf="answerType == 'CHOOSE_ONE'" class="getQuestion2">
<button type="button" *ngIf="answerType == 'CHOOSE_ONE'" class="getQuestion2">Veuillez choisir la réponse</button>
<input id="answerPurposed" type="answerPurposed" placeholder="suscribe answers" *ngIf="answerType == 'CHOOSE_MANY'" class="getQuestion2">
<button type="button" *ngIf="answerType == 'CHOOSE_MANY'" class="getQuestion2">Veuillez choisir les réponses</button>


<label class="getQuestion">Réponse proposée</label>
<input id="answerGet" type="text" placeholder="Réponse à saisir" class="getQuestion2">

