<app-stagiaire-filter [filterDate]="stopDate" (onChangeFilter)="filterChanged($event)"></app-stagiaire-filter>

<!-- <app-stagiaire-detail [hidden]="isDetailHidden$ | async" [stagiaire]=" selectedStagiaire">
</app-stagiaire-detail> -->

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>&nbsp;</th>
      <th (click)="sortByLastName()">Lastname
        <ng-container *ngIf="!croissantLastName">
          <i alt="fleche" class="fa-solid fa-caret-down"></i>
        </ng-container>
        <ng-container *ngIf="croissantLastName">
          <i alt="fleche" class="fa-solid fa-caret-up"></i>
        </ng-container>
      </th>
      <th>Firstname</th>
      <th>Birthdate</th>
      <th>Modify</th>
      <th>Delete</th>
      <th>Poe</th>
    </tr>
  </thead>



  <tbody>
    <ng-container *ngFor="let stagiaire of stagiaires">
      <tr class="stagiaireLine" *ngIf="changeView(stagiaire)">

        <td>
          {{stagiaire.getId()}}
        </td>
        <td>
          <span class="initials" appBubble [config]="bubbleConfig" (click)="onClick(stagiaire)">{{stagiaire |
            initials : {firstNameFirst: true, full:
            true} }}</span>
        </td>
        <td>
          {{stagiaire.getLastName() | uppercase}}
        </td>
        <td>
          {{stagiaire.getFirstName()}}
        </td>
        <td>
          {{stagiaire.getBirthDate() | date: 'dd-MM-YYYY'}}
        </td>
        <td>
          <button class="buttonDelete" type="button" (click)="onUpdate(stagiaire)">🖊️</button>
        </td>
        <td>
          <button class="buttonDelete" type="button" (click)="onRemoveTraineeDialog(stagiaire)">X</button>
        </td>
        <td *ngIf="stagiaire.getPoe()">
          {{stagiaire.getPoe().getTitle()}}
        </td>
        <td *ngIf="!stagiaire.getPoe()">Libre</td>



      </tr>
    </ng-container>
  </tbody>

  <tfoot>
    <td colspan="4">Total number of trainees </td>
    <td>{{stagiaires.length}}</td>
  </tfoot>
</table>

<a class="link-button" [routerLink]="['/', 'stagiaire', 'add']">Ajouter un stagiaire</a>