<!-- <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

  <h1>Connexion</h1>

  <div class="field-control">

    <mat-form-field>
      <input matInput formControlName="userLogin" placeholder="Login">
      <mat-error *ngIf="loginForm.get('userLogin')!.errors && loginForm.get('userLogin')!.touched"></mat-error>
    </mat-form-field>

  </div>

  <div class="field-control">

    <mat-form-field>
      <input matInput formControlName="userPassword" placeholder="Your password" type="password">
      <mat-error *ngIf="loginForm.get('userPassword')!.errors && loginForm.get('userPassword')!.touched"></mat-error>
    </mat-form-field>

  </div>

  <div class="field-control">

    <mat-slide-toggle formControlName="stayConnected">Stay Connected</mat-slide-toggle>

  </div>

  <div class="button">

    <button mat-raised-button color="primary" [disabled]="loginForm.invalid"> Login </button>

  </div>

</form>

<form name='signinForm' (submit)="doSignin()">

  <h1>Connexion</h1>
  <div style=" color : red" *ngIf='error'>{{error}}</div>

  <div class="field-control">

    <input type='text' name='username' [(ngModel)]="username" placeholder="Login">

    <input type='password' name='password' placeholder="Password" [(ngModel)]="password" />

    <input class="link-button" name="submit" type="submit" value="Connexion" />

    <label for="signup">Don't have account?</label>
    <a name="signup" href="/signup" routerLink="/signup">Signup</a>

  </div>

</form>

-->
<!--
<div class="contour">
  <h1>Connexion</h1>
  <form name='signinForm' (submit)="doSignin()">
    <div class="lineForm">
      <p>Username:</p>
      <input type='text' name='username' [(ngModel)]="username">
    </div>
    <div class="lineForm">
      <p>Password:</p>
      <input type='password' name='password' [(ngModel)]="password" />
    </div>
    <div class="errorsDiv" style="color : red" *ngIf='error'>{{error}}</div>
    <div class="lineForm">
      <div><input class="link-button" name="submit" type="submit" value="Signin" /></div>

      <p>Don't have account? <a routerLink="/signup">Signup</a></p>
    </div>
  </form>
</div>
 -->

<div id="card">
  <div id="card-content">
    <div id="logo">
      <img src="../../../../assets/logo-aelion_1.png" alt="logo Aelion">
    </div>
    <div id="card-title">
      <h2>Connexion</h2>
      <div class="underline-title"></div>
    </div>
    <form (submit)="doSignin()" class="form">
      <label for="user-email" style="padding-top:13px">
        &nbsp;Nom d'utilisateur
      </label>
      <input [(ngModel)]="username" id="user-email" class="form-content" type="email" name="email" autocomplete="on"
        required />
      <div class="form-border"></div>
      <label for="user-password" style="padding-top:22px">&nbsp;Mot de passe
      </label>
      <input [(ngModel)]="password" id="user-password" class="form-content" type="password" name="password" required />
      <div class="form-border"></div>
      <div class="errorsDiv" style="color : red" *ngIf='error'>{{error}}</div>
      <input id="submit-btn" type="submit" name="submit" value="Se connecter" />
      <a routerLink="/signup" id="signup">Vous n'avez pas de compte ?</a>
    </form>
  </div>
</div>