<header>

  <a *ngIf="hasUser && !isUserAnonymous" id="logo" [routerLink]="['/', 'home']"><img
      src="https://lh3.googleusercontent.com/W0IfwGoYRwnKcWhCEF-V-0YBGnJiajwDF9nvsaRf6crnrXbsin4DFYm9N6VFXj2juXvt8AXyAdf6hrHwctyD"
      alt="logo Aelion"></a>

  <ul class="navbar">

    <li *ngIf="hasUser && !isUserAnonymous">
      <a [routerLink]="['/', 'poes']">POEs</a>
    </li>

    <li *ngIf="hasUser && !isUserAnonymous">
      <a [routerLink]="['/', 'stagiaires']">Stagiaires</a>
    </li>

    <li *ngIf="hasUser && !isUserAnonymous">
      <a [routerLink]="['/', 'surveys']">Questionnaires</a>
    </li>

    <li *ngIf="hasUser && !isUserAnonymous">
      <a [routerLink]="['/', 'questions']">Questions</a>
    </li>

    <li *ngIf="hasUser && !isUserAnonymous">
      <!--  <a *ngIf="!hasUser && !isUserAnonymous" [routerLink]="['/', 'login']">Login</a> -->
      <a *ngIf="hasUser && !isUserAnonymous" href="" (click)="onLogout()"><i
          class="fa-solid fa-person-through-window"></i></a>
    </li>
  </ul>
</header>
<div class="bodyClass">
  <!-- Etagère à routes : C'est là qu'Angular charge les composants routés -->

  <router-outlet></router-outlet>
</div>
<footer>
  <p>Tous droits réservés - Team Graal - Inetum - Aelion 2022</p>
</footer>