<div [formGroup]="surveyFormGroup" class="questionnaire">
    <h1 class="title">
        Création d'un questionnaire
    </h1>
    <mat-stepper linear #stepper>
        <mat-step [stepControl]="surveyFormGroup.value.title">
            <div class="surveyForm">
                <ng-template matStepLabel>Quel est le titre du questionnaire ?</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>Titre...</mat-label>
                    <input matInput formControlName="title" placeholder="Nom du questionnaire" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Suivant</button>
                </div>
            </div>
        </mat-step>

        <mat-step [stepControl]="surveyFormGroup.value.poeType" [stepControl]="surveyFormGroup.value.level">
            <div class="surveyForm">
                <ng-template matStepLabel>Type de la POE / Echéance du questionnaire</ng-template>

                <!-- Select POEType : -->
                <label for="poeType">Type de POE:</label>
                <select name="poeType" id="type" placeholder="type" formControlName="poeType">
                    <option value="">Sélectionner un type de Poe</option>
                    <option value="POEI">POEI</option>
                    <option value="POEC">POEC</option>
                </select>

                <!-- Select Echeance : -->
                <label for="levelType">Durée depuis la fin de la formation:</label>
                <select name="levelType" id="level" placeholder="level" formControlName="level">
                    <option value="">Sélectionner une échéance</option>
                    <option value="ONE_MONTH">1 MOIS</option>
                    <option value="SIX_MONTHS">6 MOIS</option>
                    <option value="ONE_YEAR">1 AN</option>
                </select>

                <div>
                    <button mat-button matStepperPrevious>Precedent</button>
                    <button mat-button matStepperNext>Suivant</button>
                </div>
            </div>
        </mat-step>

        <mat-step [stepControl]="addQuestions">
            <div class="surveyForm">
                <ng-template matStepLabel>Choix des questions</ng-template>


                <!-- Select Question existante : -->
                <div class="currentQuestion">
                    <label>Ajouter une question existante</label>
                    <div class="question">
                        <select id="addCurrentQuestion" name="currentQuestion" placeholder="add Current Question">
                            <option value="">Sélectionner une question</option>
                            <option *ngFor="let question of allQuestions" value="{{question.getId()}}">
                                {{question.getText()}}
                            </option>
                        </select>
                        <button type="button" (click)="addCurrentQuestion()">Ajouter cette question</button>
                        <input type="hidden" id="questions" value="{{questions}}" formControlName="questions">
                    </div>

                </div>

                <!-- Ajout Nouvelle question : -->

                <div class="newQuestion">
                    <label>Nouvelle question ?</label>
                    <div class="question"><button type="button" (click)="InsertQuestion()">Add new Question</button>
                    </div>

                </div>

                <h1 class="title">Question créée:</h1>


                <div class="container" *ngIf="questionsDto.text !== '' ">

                    <div class="table">
                        <div class="table-header">
                            <div class="header__item"><a id="name" class="filter__link" href="#">Titre de la question</a>
                            </div>
                            <div class="header__item"><a id="wins" class="filter__link filter__link--number"
                                    href="#">Type de réponse</a>
                            </div>
                            <div class="header__item"><a id="draws" class="filter__link filter__link--number"
                                href="#">Réponses Proposées</a>
                        </div>
                            
                        </div>
                        <div  class="table-content">
                            <div class="table-row">
                                <div class="table-data">{{questionsDto.text}}</div>
                                <div class="table-data">{{questionsDto.answerType}}</div>
                                <div class="table-data">{{questionsDto.answersProposed}}</div>
                            </div>
                        </div>
                    </div>
                </div>


                <h1 class="title">Liste des questions présentes dans le formulaire :</h1>

                <div class="container" *ngIf="questions.length">

                    <div class="table">
                        <div class="table-header">
                            <div class="header__item"><a id="name" class="filter__link" href="#">ID de la question</a>
                            </div>
                            <div class="header__item"><a id="wins" class="filter__link filter__link--number"
                                    href="#">Question</a>
                            </div>
                            <div class="header__item"><a id="draws" class="filter__link filter__link--number"
                                    href="#">Type de la
                                    question</a>
                            </div>
                            <div class="header__item"><a id="losses" class="filter__link filter__link--number"
                                    href="#">Réponses
                                    proposées</a>
                            </div>
                            <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                    href="#">Supprimer la
                                    question</a>
                            </div>
                        </div>
                        <div *ngFor="let question of questions" class="table-content">
                            <div class="table-row">
                                <div class="table-data">{{question.getId()}}</div>
                                <div class="table-data">{{question.getText()}}</div>
                                <div class="table-data">{{question.getAnswerType()}}</div>
                                <div class="table-data">
                                    <ul class="answers">
                                        <li *ngFor="let answer of question.getAnswersProposed()">
                                            {{answer}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="table-data"><button (click)="deleteQuestion(question.getId())">X</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<li *ngIf="questionsDto">
                     <i>{{questionsDto.text}}</i>
                     <i>{{questionsDto.answerType}}</i>
                     <i>{{questionsDto.answersProposed}}</i>
                  </li> -->



                <div>
                    <button mat-button matStepperPrevious>Precedent</button>
                    <button mat-button matStepperNext>Suivant</button>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <div class="surveyForm">
                <ng-template matStepLabel>Terminé</ng-template>
                <p>Vous avez terminé de remplir ce questionnaire</p>
                <div>
                    <button mat-button matStepperPrevious>Étape précédente</button>
                    <button mat-button (click)="stepper.reset()">Recommencer</button>
                    <button mat-button (click)="onSubmit()">Enregistrer</button>
                </div>
            </div>
        </mat-step>
    </mat-stepper>

    <!-- Liste 2.0 des questions -->





</div>