$head-and-foot-color : rgb(212, 145, 62);
$head-and-foot-text-color : rgb(0, 0, 0);
$main-font: 'Acme', sans-serif;
$main-color : rgb(212, 145, 62);

.underline-title {
    background: $main-color;
    height: 2px;
    margin: -1.8rem auto 0 auto;
    width: 252px;
}

.inputs-placeholder {
  input::placeholder{
    color: $main-color !important;
  }
}

.questionnaire {
  padding-top: 2em;
  background-color: white;
  padding-bottom: 2em;
  max-width: 80%;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

table {
  margin: auto;
  margin-top: 4em;
  border-collapse: collapse;
  text-align: center;
  background-color: rgb(189, 184, 184);
}

td,
th {
  border: solid;
  height: 2em;
  padding: .5em 0
}

thead {
  th {
    width: 10em;
    height: 3em;
  }
}

thead,
tfoot {
  tr {
    background-color: $head-and-foot-color;
    color: $head-and-foot-text-color;
  }
}

.surveyForm {
  font-family: $main-font;
  display: flex;
  padding: 2em auto;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.surveyForm select,
.surveyForm input,
.surveyForm button {
  margin: 1em auto;
  width: 25%;
}

.surveyForm select,
.surveyForm button {
  padding: 1em;
  font-family: $main-font;
  text-align: center;
}

.surveyForm button {
  cursor: pointer;
}

.currentQuestion {
  display: flex;
  flex-direction: column;
}

.question {
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin: auto;
}

// Liste des questions 2.0 : 

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: $base-spacing-unit;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.table {
  width: 100%;
  border: 1px solid $color-form-highlight;
  border-collapse: collapse;
}

.table-header {
  display: flex;
  width: 100%;
  background: #000;
  padding: ($half-spacing-unit) 0;
}

.table-row {
  display: flex;
  width: 100%;

  &:nth-of-type(odd) {
    background: $color-form-highlight;
  }
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border: solid black;
}

.table-data {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.header__item {
  text-transform: uppercase;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: $base-spacing-unit;
  padding-right: $base-spacing-unit;

  &::after {
    content: '';
    position: absolute;
    right: -($half-spacing-unit * 1.5);
    color: white;
    font-size: $half-spacing-unit;
    top: 50%;
    transform: translateY(-50%);
  }

  &.desc::after {
    content: '(desc)';
  }

  &.asc::after {
    content: '(asc)';
  }

}

.answers {
  list-style: none;
}

#createQuestion {
  color: #0000FF;
  text-decoration: underline;
  &:hover {
    color: #5e03f0;
    cursor: pointer;
  }
}

.title {
  text-align: center;
  margin: 2rem auto;
}

.botButtons {
  button {
    &:hover {
      border: solid 1px rgba($main-color, $alpha: 0.7);
      color: rgba($main-color, $alpha: 1);
    }
  }
}

