$main-font: 'Acme', sans-serif;

.questionnaire {
  position: relative;
  max-width: 50%;
  min-height: 70%;
  margin: auto;
  text-align: center;
  margin-top: 5em;
  padding-top: 2em;
  padding-bottom: 4em;
  background-color: #fff;
  border: solid black;
}

.close:hover {
  cursor: pointer;

}

h2,
h3 {
  font-family: $main-font;
}

.reponse {
  width: 50%;
  margin: auto;
  padding: 1em;
  margin-top: 2em;
}