<div class="questionnaire">

  <h1>Nom du questionnaire : {{survey.getTitle()}}</h1>



  <h2>Mail pour l'échéance : {{survey.getLevel()}}</h2>
  <h2>Stagiaire ayant répondu : {{stagiaire.getFirstName()}} {{stagiaire.getLastName()}}</h2>
  <h2>POE du stagiaire : {{poe.getTitle()}}</h2>

  <div *ngFor="let answer of answers">

    <fieldset class="reponse">
      <legend>
        {{answer.getQuestion().getText()}}
      </legend>
      {{answer.getText()}}
    </fieldset>

  </div>

  <a class="link-button" (click)="goBack()">Retour</a>

</div>