<h1 id="welcome">Gestion des POE Aelion - {{ signedinUser }}</h1>

<app-poe-filter [filterDate]="stopDate" (onChangeFilter)="filterChanged($event)"></app-poe-filter>


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <!-- <th (click)="sortByTitle()">Title</th> -->
            <th (click)="sortByTitle()">Titre
                <ng-container *ngIf="!croissantTitle">
                    <i alt="fleche" class="fa-solid fa-caret-down"></i>
                </ng-container>
                <ng-container *ngIf="croissantTitle">
                    <i alt="fleche" class="fa-solid fa-caret-up"></i>
                </ng-container>
            </th>
            <th>Date de début</th>
            <th (click)="sortByEndDate()">Date de fin
                <ng-container *ngIf="!croissantEndDate">
                    <i alt="fleche" class="fa-solid fa-caret-down"></i>
                </ng-container>
                <ng-container *ngIf="croissantEndDate">
                    <i alt="fleche" class="fa-solid fa-caret-up"></i>
                </ng-container>            
            <th>Type</th>
            <th>Modifier</th>
            <th>Supprimer</th>
            <th>Nombre de stagiaires</th>
            <th *ngIf="stopDate !== null">Envoyer mail d'enquête</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let poe of poes">
            <tr class="stagiaireLine" *ngIf="changeView(poe)">
                <td (click)="onClick(poe)"><button type="button" class="buttonDelete">{{ poe.getId() }} </button></td>
                <td> {{ poe.getTitle() }} </td>
                <td> {{ poe.getBeginDate() | date: 'dd-MM-YYYY' }} </td>
                <td> {{ poe.getEndDate() | date: 'dd-MM-YYYY' }} </td>
                <td> {{ poe.getType() }} </td>
                <td><button type="button" class="buttonDelete" (click)="onUpDate(poe)">🖊️</button></td>
                <td><button type="button" class="buttonDelete" (click)="onRemovePoeDialog(poe)">X</button></td>
                <td> {{ poe.getTrainees().length }}</td>
                <td *ngIf="stopDate === 'oneMonth'">
                    <button class="mailButton" type="button" (click)="onMail(poe)">
                        <ng-container *ngIf="(poe.getOneMonthMailSent() === 0)">
                            <i title="Envoyer" class="fa-solid fa-envelope"></i>
                        </ng-container>
                        <ng-container *ngIf="(poe.getOneMonthMailSent() === 200)">
                            <i title="Envoyé" class="fa-solid fa-envelope-circle-check"></i>
                        </ng-container>
                        <ng-container *ngIf="(poe.getOneMonthMailSent() === 400)">
                            <i title="Erreur" class="fa-solid fa-envelope red"></i>
                        </ng-container>
                    </button>
                </td>
                <td *ngIf="stopDate === 'sixMonth'">
                    <button class="mailButton" type="button" (click)="onMail(poe)">
                        <ng-container *ngIf="(poe.getSixMonthMailSent() === 0)">
                            <i title="Envoyer" class="fa-solid fa-envelope"></i>
                        </ng-container>
                        <ng-container *ngIf="(poe.getSixMonthMailSent() === 200)">
                            <i title="Envoyé" class="fa-solid fa-envelope-circle-check"></i>
                        </ng-container>
                        <ng-container *ngIf="(poe.getSixMonthMailSent() === 400)">
                            <i title="Erreur" class="fa-solid fa-envelope red"></i>
                        </ng-container>
                    </button>
                </td>
                <td *ngIf="stopDate === 'oneYear'">
                    <button class="mailButton" type="button" (click)="onMail(poe)">
                        <ng-container *ngIf="(poe.getOneYearMailSent() === 0)">
                            <i title="Envoyer" class="fa-solid fa-envelope"></i>
                        </ng-container>
                        <ng-container *ngIf="(poe.getOneYearMailSent() === 200)">
                            <i title="Envoyé" class="fa-solid fa-envelope-circle-check"></i>
                        </ng-container>
                        <ng-container *ngIf="(poe.getOneYearMailSent() === 400)">
                            <i title="Erreur" class="fa-solid fa-envelope red"></i>
                        </ng-container>
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

<a class="link-button" [routerLink]="['/','add','poe']">Ajouter une poe</a>

<table class="stats">


    <tr>
        <th>Statistiques :</th>
    </tr>

    <tr>Nombre total de Poe : {{poes.length}}</tr>

    <tr>Nombre total de stagiaires : {{tousLesStagiaires()}}</tr>

    <tr>Moyenne de stagiaires par POE : {{moyenneStagiaires()}}</tr>

    <p></p>

</table>