<h1 id="welcome">Gestion des POE Aelion - {{ signedinUser }}</h1>

<app-poe-filter [filterDate]="stopDate" (onChangeFilter)="filterChanged($event)"></app-poe-filter>


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>BeginDate</th>
            <th (click)="trierParEndDate()">EndDate</th>
            <th>Type</th>
            <th>Modify</th>
            <th>Delete</th>
            <th>Nombre de stagiaires</th>
            <th>Mail envoyé</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let poe of poes">
            <tr class="stagiaireLine" *ngIf="changeView(poe)">
                <td (click)="onClick(poe)"><button type="button" class="buttonDelete">{{ poe.getId() }} </button></td>
                <td> {{ poe.getTitle() }} </td>
                <td> {{ poe.getBeginDate() | date: 'dd-MM-YYYY' }} </td>
                <td> {{ poe.getEndDate() | date: 'dd-MM-YYYY' }} </td>
                <td> {{ poe.getType() }} </td>
                <td><button type="button" class="buttonDelete" (click)="onUpDate(poe)">🖊️</button></td>
                <td><button type="button" class="buttonDelete" (click)="onRemovePoeDialog(poe)">X</button></td>
                <td> {{ poe.getTrainees().length }}</td>
                <td>La réponse est oui</td>

            </tr>
        </ng-container>
    </tbody>
</table>

<a class="link-button" [routerLink]="['/','add','poe']">Ajouter une poe</a>

<table class="stats">


    <tr>
        <th>Statistiques :</th>
    </tr>

    <tr>Nombre total de Poe : {{poes.length}}</tr>

    <tr>Nombre total de stagiaires : {{tousLesStagiaires()}}</tr>

    <tr>Moyenne de stagiaires par POE : {{moyenneStagiaires()}}</tr>

    <p></p>

</table>